/* Default Styles */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/* General Element Styles */
a {
   color: #ffffff;
   text-decoration: none;
}

p {
   font-size: 16px;
}

body {
   background-color: #d9dcd6;
}

/* Classes for picture elements being left or right aligned.  Abstracted from img style because it is the only difference between pictures. */
.float-left {
   float: left;
   margin-right: 25px;
}

.float-right {
   float: right;
   margin-left: 25px;
}

/* All styles that occur within the Header element.  It is assumed there is only one header on the page, so the semantic element is used as selector. */
header {
   padding: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: #2a607c;
   color: #ffffff;
}


header h1 {
   display: inline-block;
   font-size: 48px;
}

header .seo {
   color: #d9dcd6;
}

header nav {
   padding-top: 15px;
   margin-right: 20px;
   float: right;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
}

header li {
   list-style-type: none;
   display: inline-block;
   margin-left: 25px;
}

/* Banner Image that displays between header and  */
.bannerimg{
   height: 800px;
   width: 100%;
   margin-bottom: 25px;
   background-image: url("../images/digital-marketing-meeting.jpg");
   background-size: cover;
   background-position: center;
}

/* Content Section Styles */
/* Each article in the main content section is identical in style so all are combined into one style per element */
.content {
   width: 75%;
   display: inline-block;
   margin-left: 20px;
}

.content article {
   margin-bottom: 20px;
   padding: 50px;
   height: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #0072bb;
   color: #ffffff;
}

.content h2 {
   margin-bottom: 20px;
   font-size: 36px;
}

.content img {
   max-height: 200px;
}

/* Benefits Section Styles */
/* Each article in the benefits side content is identical in style so all are combined into one style per element */
.benefits {
   margin-right: 20px;
   padding: 20px;
   clear: both;
   float: right;
   width: 20%;
   height: 100%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #2589bd;
}

.benefits article {
   margin-bottom: 32px;
   color: #ffffff;
}

.benefits h2 {
   margin-bottom: 10px;
   text-align: center;
}

.benefits img {
   display: block;
   margin: 10px auto;
   max-width: 150px;
}

/* All styles that occur within the Footer element.  It is assumed there is only one footer on the page, so the semantic element is used as selector. */
footer {
   padding: 30px;
   clear: both;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}

footer h2 {
   font-size: 20px;
}